<div data-collapse="small" data-animation="over-right" data-duration="400" id="navigation" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
  <div class="navigation-items">
    <a href="/" class="logo-link w-nav-brand"><img src="/images/1b.png" width="42" height="Auto" alt="" sizes="(max-width: 479px) 100vw, 42px" srcset="/images/1b-p-500.png 500w, /images/1b.png 785w" class="logo-image"></a>
    <div class="navigation-wrap">
      <nav role="navigation" class="navigation-items w-nav-menu">
        <a href="/" class="navigation-item w-nav-link">Home</a>
        <a href="/vision/" class="navigation-item w-nav-link">VISION</a>
        <a href="/works/" class="navigation-item w-nav-link">WORKs</a>
        <a href="/about/" class="navigation-item w-nav-link">About</a>
      </nav>
      <div class="menu-button w-nav-button"><img src="/images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon"></div>
    </div>
  </div>
</div>
